<section.>
    <h4>AngularJS Farewell</h4>
    <label for="fName">Type your name here:</label>
    <input id="fName" type="text" ng-model="goodbye.myModel">
    <p>Goodbye {{goodbye.myModel}}!</p>
  </section>