<!DOCTYPE html>

<html lang="en">

<head>
  <title>Hello World AngularJS application</title>
</head>

<body ng-app="app">
  <h1>Hello World AngularJS application</h1>
  <section ng-controller="HelloController">
    <h4>AngularJS Greeting</h4>
    <label for="name">Type your name here:</label>
    <input id="name" type="text" ng-model="myModel">
    <p>Hello {{myModel}}!</p>
  </section>
  <section ng-controller="GoodbyeController">
    <h4>AngularJS Farewell</h4>
    <label for="fName">Type your name here:</label>
    <input id="fName" type="text" ng-model="myModel">
    <p>Goodbye {{myModel}}!</p>
  </section>
  <section ng-controller="ParentController">
    <h4>Parent Scope</h4>
    <p>{{onlyParent}}</p>
    <p>{{myModel}}</p>
    <article ng-controller="ChildController">
      <h5>Child Scope</h5>
      <p>{{onlyChild}}</p>
      <p>{{myModel}}</p>
      <p>{{onlyParent}}</p>
      <p>{{$parent.myModel}}</p>
    </article>
  </section>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/hello/hello.controller.js"></script>
  <script src="app/goodbye/goodbye.controller.js"></script>
  <script src="app/nested_scopes/parent.controller.js"></script>
  <script src="app/nested_scopes/child.controller.js"></script>
</body>

</html>