<!DOCTYPE html>

<html lang="en">

<head>
  <title>Hello World AngularJS application</title>
</head>

<body ng-app='app'>
  <h1>Hello World AngularJS application</h1>
  <section ng-controller="HelloController">
    <h4>AngularJS Greeting</h4>
    <label for="name">Type your name here:</label>
    <input id=name type="text" ng-model="myModel">
    <p>Hello {{myModel}}!</p>
  </section>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/hello/hello.controller.js"></script>
</body>

</html>