<section>
    <h4>Parent Scope</h4>
    <p>{{parent.onlyParent}}</p>
    <p>{{parent.myModel}}</p>
    <child-component parent-my-model="parent.myModel" only-parent="parent.onlyParent"></child-component>
</section>