<!DOCTYPE html>

<html lang="en">

<head>
  <title>Hello World AngularJS application</title>
</head>

<body ng-app='app'>
  <h1>Hello World AngularJS application</h1>
  <section ng-controller="HelloController as vm">
    <h4>AngularJS Greeting</h4>
    <label for="name">Type your name here:</label>
    <input id=name type="text" ng-model="vm.myModel">
    <p>Hello {{vm.myModel}}!</p>
  </section>
  <section ng-controller="ParentController as parent">
    <h4>Parent Scope</h4>
    <p>{{parent.onlyParent}}</p>
    <p>{{parent.myModel}}</p>
    <article ng-controller="ChildController as child">
      <h5>Child Scope</h5>
      <p>{{child.onlyChild}}</p>
      <p>{{child.myModel}}</p>
      <p>{{parent.onlyParent}}</p>
      <p>{{parent.myModel}}</p>
    </article>
  </section>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/hello/hello.controller.js"></script>
  <script src="app/nested_scopes/parent.controller.js"></script>
  <script src="app/nested_scopes/child.controller.js"></script>
</body>

</html>